.container{
  width: 100%;
  background: linear-gradient(45deg,#0b0b0b,#230574);
  background-size: 200% 200%;
  animation: color 12s ease infinite;
}
/* .r-container{
  height: 100vh;
  width: 100%;
  background: linear-gradient(-45deg,#0b0b0b,#230574);
  background-size: 300% 300%;
  animation: color 12s ease infinite;
} */

@keyframes color{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  0%{
    background-position: 0 50%;
  }
}

ul.tree{
  width: 180px;
}

ul li{
  position: relative;
  list-style: none;
  padding: 3px 15px;
}

li::before,li::after{
  content: "";
  position: absolute;
  left: -5px;
}

li::before{
  height: 1px;
  width: 16px;
  top: 12px;
  background-color: white;
}

li::after{
  height: 26px;
  width: 1px;
  top: -14px;
  background-color: white;
}

li.parent::after{
  height: 100%;
  top:12px
}

li.parent:last-child::after{
  content: none;
}

details{
  margin: 0 auto;
}

summary{
  display: block;
  position: relative;
  cursor: pointer;
}

summary::before{
  position: absolute;
  height: 18px;
  width: 18px;
  top: 0;
  text-align: center;
  left: -22px;
  color: white;
  line-height: 18px;
  border-radius: 8px;
}

details > ul{
  padding: 15px;
}

